{% extends "layout.html" %}

{% block title %}
Destinations
{% endblock %}

{% block title2 %}
Destinations
{% endblock %}

{% block main %}
<div>
    <h1 class="h3 mb-1 text-gray-800 font-weight-bold">Your travel destinations</h1>
    <p class="mb-4">Whether you already booked a trip or just dreaming about going somewhere, dot your thoughts and
        ideas here. Create and review your destinations here.</p>
</div>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <a href="/dest-add" class="btn btn-light btn-lg card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h1 font-weight-bold text-primary text-capitalize mb-1">
                            <p> </p>
                            <i class="fa-solid fa-plus fa-xl"></i>
                        </div>
                    </div>
                    <div class="col mr-2">
                        <div class="text-s mb-0 mt-2 font-weight-bold text-gray-600">Add destination</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% if not_empty %}
    {% for row in destinations %}
    <div class="col-xl-3 col-md-6 mb-4">
        <!-- Dropdown Card Example -->
        <div class="card shadow">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ row['name'] }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="text-s mb-0 font-weight-bold text-gray-600">{{ row['country'] or '_'}}</div>
            <div class="text-s mb-0 font-weight-bold text-gray-600">{{ row['year'] or '_'}}</div>
        </div>
    </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2 border-left-secondary">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h5 font-weight-bold text-gray-700 text-capitalize mb-1">
                            Nothing here yet!</div>
                        <div class="text-s mb-0 font-weight-bold text-gray-800">Add your first destination</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}