{% extends "layout.html" %}

{% block title %}
Ideas
{% endblock %}

{% block title2 %}
{{ dest_data['name'] }} {{ dest_data['year'] or ''}}
{% endblock %}

{% block main %}
<div>
    <h1 class="h3 mb-1 text-gray-800 font-weight-bold">{{ dest_data['name'] }}</h1>
    <h2 class="h4 mb-1 text-gray-600">{{ dest_data['country'] or ''}}</h1>
        <h2 class="h4 mb-1 text-gray-600">{{ dest_data['year'] or ''}}</h1>
            <p class="mb-4">A place to store your places of interest, ideas, links</p>
</div>
<div class="col">
    {% for day in range(1, dest_data['days'] + 1) %}
    <!-- Card showing a day -->
    <div class="card shadow mb-2">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Day {{ day }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                    aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header text-l text-gray-600">Day:</div>
                    <li>
                        <form action="/move_day_up" method="post" role="form">
                            <input type="hidden" type="text" id="day" name="day" value="{{ day }}">
                            <input type="hidden" type="text" id="dest_id" name="dest_id" value="{{ dest_data['id'] }}">
                            <button class="dropdown-item text-gray-800" tabindex="-1" aria-disabled="true"
                                type="submit">
                                <i class="fa-solid fa-arrow-up fa-sm text-gray-800"></i>
                                Move up
                            </button>
                        </form>
                    </li>
                    <li>
                        <form action="/move_day_down" method="post" role="form">
                            <input type="hidden" type="text" id="day" name="day" value="{{ day }}">
                            <input type="hidden" type="text" id="dest_id" name="dest_id" value="{{ dest_data['id'] }}">
                            <button class="dropdown-item text-gray-800" tabindex="-1" aria-disabled="true"
                                type="submit">
                                <i class="fa-solid fa-arrow-down fa-sm text-gray-800"></i>
                                Move down
                            </button>
                        </form>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                        <a class="dropdown-item text-gray-800" tabindex="-1" data-bs-toggle="modal"
                            data-bs-target="#DeleteDayModal{{ day }}" aria-disabled="true">
                            <i class="fa-solid fa-trash fa-sm text-gray-800"></i>
                            Delete
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Card Body -->
        <div class="h-100 no-gutters align-items-center">
            <div class="card-body">
                {% for idea in ideas_data if idea['day'] == day and not idea['completed']%}
                <div class="card shadow-sm no-gutters align-content-start m-1 p-1">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="col my-1 pl-4 font-weight-bold text-gray-800">{{ idea['description'] or ''}}
                        </div>
                        <div class="col my-1 small text-gray-600">{{ idea['notes'] or ''}}</div>
                        {% if idea['link'] %}
                        <div class="col">
                            <a class="btn btn-primary btn-sm shadow-sm font-weight-bold" href="{{ idea['link'] }}"
                                target="_blank" rel="noopener noreferrer">Link</a>
                        </div>
                        {% endif %}
                        {% if idea['map-link'] %}
                        <div class="col">
                            <a class="btn btn-secondary btn-sm shadow-sm font-weight-bold" href="{{ idea['map-link'] }}"
                                target="_blank" rel="noopener noreferrer">Map</a>
                        </div>
                        {% endif %}
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header text-l text-gray-600">Day:</div>
                                <li>
                                    <a class="dropdown-item text-gray-800" tabindex="-1" data-bs-toggle="modal"
                                        data-bs-target="#EditIdeaModal{{ idea['id'] }}" aria-disabled="true">
                                        <i class="fa-solid fa-pen-to-square fa-sm text-gray-800"></i>
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <form action="/idea-complete" method="post" role="form">
                                        <input type="hidden" type="text" id="dest_id" name="dest_id"
                                            value="{{ dest_data['id'] }}">
                                        <input type="hidden" type="text" id="complete" name="complete" value="1">
                                        <input type="hidden" type="text" id="idea_id" name="idea_id"
                                            value="{{ idea['id'] }}">
                                        <button class="dropdown-item" type="submit">
                                            <i class="fa-regular fa-square-check fa-sm text-gray-600"></i>
                                            Mark as complete
                                        </button>
                                    </form>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="dropdown-item text-gray-800" tabindex="-1" data-bs-toggle="modal"
                                        data-bs-target="#DeleteIdeaModal{{ idea['id'] }}" aria-disabled="true">
                                        <i class="fa-solid fa-trash fa-sm text-gray-800"></i>
                                        Delete
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Edit idea modal dialog-->
                <div class="modal fade" id="EditIdeaModal{{ idea['id'] }}" tabindex="-1" role="dialog"
                    aria-labelledby="LabelDeleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="/idea_edit" method="post">
                                <input type="hidden" type="text" id="action" name="action" value="edit">
                                <input type="hidden" type="text" id="day" name="day" value="{{ day }}">
                                <input type="hidden" type="text" id="dest_id" name="dest_id"
                                    value="{{ dest_data['id'] }}">
                                <input type="hidden" type="text" id="idea_id" name="idea_id" value="{{ idea['id'] }}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="LabelDeleteModal">Edit idea</h5>
                                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="card shadow p-2 m-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="mb-2">
                                                    <label for="description"
                                                        class="form-label text-black">Description</label>
                                                    <input autofocus class="form-control w-100" id="description"
                                                        name="description" placeholder="Describe idea/place"
                                                        value="{{ idea['description'] }}" type="text">
                                                </div>
                                                <div class="mb-2">
                                                    <label for="notes" class="form-label text-black">Notes</label>
                                                    <input class="form-control w-100" id="notes" name="notes"
                                                        placeholder="Notes (optional)" type="text"
                                                        value="{{ idea['notes'] or '' }}">
                                                </div>
                                                <div class="mb-2">
                                                    <label for="link" class="form-label text-black">Link</label>
                                                    <input class="form-control w-100" id="link" name="link"
                                                        placeholder="Paste a link to a webpage or google for this idea"
                                                        type="text" value="{{ idea['link'] or '' }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button class="btn btn-primary" type="submit">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Delete Idea Modal Window-->
                <div class="modal fade" id="DeleteIdeaModal{{ idea['id'] }}" tabindex="-1" role="dialog"
                    aria-labelledby="LabelDeleteModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="LabelDeleteModal">Please confirm</h5>
                                <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Click "Delete" below to permanently delete this record
                                <p class="text-danger">Warning! The data will be permanently deleted and couldn't be
                                    restored!</p>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <form action="/ideas" method="post" role="form">
                                    <input type="hidden" type="text" id="action" name="action" value="delete">
                                    <input type="hidden" type="text" id="idea_id" name="idea_id"
                                        value="{{ idea['id'] }}">
                                    <input type="hidden" type="text" id="dest_id" name="dest_id"
                                        value="{{ dest_data['id'] }}">
                                    <button class="btn btn-primary" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if ideas_data|selectattr('completed','equalto', True)|selectattr('day','equalto', day)|list|length > 0 %}
                <div>Finished:</div>
                    {% for idea in ideas_data if idea['day'] == day and idea['completed'] %}
                    <div class="card bg-gray-200 shadow-sm no-gutters align-content-start m-1 p-1">
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <div class="col my-1 pl-4 font-weight-bold"><del>{{ idea['description'] or ''}}</del>
                            </div>
                            <div class="col my-1 small"><del>{{ idea['notes'] or '' }}</del></div>
                            {% if idea['link'] %}
                            <div class="col">
                                <a class="btn btn-secondary btn-sm shadow-sm font-weight-bold" href="{{ idea['link'] }}"
                                    target="_blank" rel="noopener noreferrer">Link</a>
                            </div>
                            {% endif %}
                            {% if idea['map-link'] %}
                            <div class="col">
                                <a class="btn btn-secondary btn-sm shadow-sm font-weight-bold" href="{{ idea['map-link'] }}"
                                    target="_blank" rel="noopener noreferrer">Map</a>
                            </div>
                            {% endif %}
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header text-l text-gray-600">Day:</div>
                                    <li>
                                        <a class="dropdown-item text-gray-800" tabindex="-1" data-bs-toggle="modal"
                                            data-bs-target="#EditIdeaModal{{ idea['id'] }}" aria-disabled="true">
                                            <i class="fa-solid fa-pen-to-square fa-sm text-gray-800"></i>
                                            Edit
                                        </a>
                                    </li>
                                    <li>
                                        <form action="/idea-complete" method="post" role="form">
                                            <input type="hidden" type="text" id="dest_id" name="dest_id"
                                                value="{{ dest_data['id'] }}">
                                            <input type="hidden" type="text" id="complete" name="complete" value="0">
                                            <input type="hidden" type="text" id="idea_id" name="idea_id"
                                                value="{{ idea['id'] }}">
                                            <button class="dropdown-item" type="submit">
                                                <i class="fa-regular fa-square-check fa-sm text-gray-600"></i>
                                                Un-mark as complete
                                            </button>
                                        </form>
                                    </li>
                                    <div class="dropdown-divider"></div>
                                    <li>
                                        <a class="dropdown-item text-gray-800" tabindex="-1" data-bs-toggle="modal"
                                            data-bs-target="#DeleteIdeaModal{{ idea['id'] }}" aria-disabled="true">
                                            <i class="fa-solid fa-trash fa-sm text-gray-800"></i>
                                            Delete
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Edit idea modal dialog-->
                    <div class="modal fade" id="EditIdeaModal{{ idea['id'] }}" tabindex="-1" role="dialog"
                        aria-labelledby="LabelDeleteModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <form action="/idea_edit" method="post">
                                    <input type="hidden" type="text" id="action" name="action" value="edit">
                                    <input type="hidden" type="text" id="day" name="day" value="{{ day }}">
                                    <input type="hidden" type="text" id="dest_id" name="dest_id"
                                        value="{{ dest_data['id'] }}">
                                    <input type="hidden" type="text" id="idea_id" name="idea_id" value="{{ idea['id'] }}">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="LabelDeleteModal">Edit idea</h5>
                                        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">x</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    </div>
                                    <div class="card shadow p-2 m-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="mb-2">
                                                        <label for="description"
                                                            class="form-label text-black">Description</label>
                                                        <input autofocus class="form-control w-100" id="description"
                                                            name="description" placeholder="Describe idea/place"
                                                            value="{{ idea['description'] }}" type="text">
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="notes" class="form-label text-black">Notes</label>
                                                        <input class="form-control w-100" id="notes" name="notes"
                                                            placeholder="Notes (optional)" type="text"
                                                            value="{{ idea['notes'] or '' }}">
                                                    </div>
                                                    <div class="mb-2">
                                                        <label for="link" class="form-label text-black">Link</label>
                                                        <input class="form-control w-100" id="link" name="link"
                                                            placeholder="Paste a link to a webpage or google for this idea"
                                                            type="text" value="{{ idea['link'] or '' }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button class="btn btn-primary" type="submit">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Delete Idea Modal Window-->
                    <div class="modal fade" id="DeleteIdeaModal{{ idea['id'] }}" tabindex="-1" role="dialog"
                        aria-labelledby="LabelDeleteModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="LabelDeleteModal">Please confirm</h5>
                                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">x</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Click "Delete" below to permanently delete this record
                                    <p class="text-danger">Warning! The data will be permanently deleted and couldn't be
                                        restored!</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <form action="/ideas" method="post" role="form">
                                        <input type="hidden" type="text" id="action" name="action" value="delete">
                                        <input type="hidden" type="text" id="idea_id" name="idea_id"
                                            value="{{ idea['id'] }}">
                                        <input type="hidden" type="text" id="dest_id" name="dest_id"
                                            value="{{ dest_data['id'] }}">
                                        <button class="btn btn-primary" type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="col">
                    <div class="row align-items-center">
                        <a href="#"
                            class="btn col-auto btn-light btn-sm card border-left-secondary shadow my-1 mx-1 p-1 align-self-start"
                            data-bs-toggle="modal" data-bs-target="#AddIdeaModal{{ day }}">
                            <div class=" card-body py-1 pl-1">
                                <div class="row no-gutters align-items-center justify-content-start">
                                    <div class="col-auto align-items-center mr-4 mx-2">
                                        <div class="row font-weight-bold text-primary text-capitalize mb-1">
                                            <div class="text-secondary fa-solid fa-plus fa-xl"></div>
                                        </div>
                                    </div>
                                    <div class="col-auto align-self-start">
                                        Add an idea
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add idea modal dialog-->
    <div class="modal fade" id="AddIdeaModal{{ day }}" tabindex="-1" role="dialog" aria-labelledby="LabelDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/ideas" method="post">
                    <input type="hidden" type="text" id="action" name="action" value="add">
                    <div class="modal-header">
                        <h5 class="modal-title" id="LabelDeleteModal">Add a new idea below</h5>
                        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="card shadow p-2 m-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <input type="hidden" type="text" id="day" name="day" value="{{ day }}">
                                    <input type="hidden" type="text" id="dest_id" name="dest_id"
                                        value="{{ dest_data['id'] }}">
                                    <div class="mb-2">
                                        <label for="description" class="form-label text-black">Description</label>
                                        <input autofocus class="form-control w-100" id="description" name="description"
                                            placeholder="Describe idea/place" type="text">
                                    </div>
                                    <div class="mb-2">
                                        <label for="notes" class="form-label text-black">Notes</label>
                                        <input class="form-control w-100" id="notes" name="notes"
                                            placeholder="Notes (optional)" type="text">
                                    </div>
                                    <div class="mb-2">
                                        <label for="link" class="form-label text-black">Link</label>
                                        <input class="form-control w-100" id="link" name="link"
                                            placeholder="Paste a link to a webpage or google for this idea" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Day Modal Window-->
    <div class="modal fade" id="DeleteDayModal{{ day }}" tabindex="-1" role="dialog" aria-labelledby="LabelDeleteModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="LabelDeleteModal">Please confirm</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    Click "Delete" below to permanently delete this day and all ideas inside it
                    <p class="text-danger">Warning! The data will be permanently deleted and couldn't be
                        restored!</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <form action="/ideas" method="post" role="form">
                        <input type="hidden" type="text" id="action" name="action" value="day_delete">
                        <input type="hidden" type="text" id="day" name="day" value="{{ day }}">
                        <input type="hidden" type="text" id="dest_id" name="dest_id" value="{{ dest_data['id'] }}">
                        <button class="btn btn-primary" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    <!-- Card-button for adding a day -->
    <form action="/ideas" method="post">
        <input type="hidden" type="text" id="action" name="action" value="day_add">
        <input type="hidden" type="text" id="dest_id" name="dest_id" value="{{ dest_data['id'] }}">
        <button type="submit"
            class="col btn btn-light btn-lg card border-left-primary shadow my-3 justify-content-start p-0">
            <div class="card-body p-0 align-items-center row">
                <div class="col-auto align-items-center mx-3 p-0 justify-content-start">
                    <div class="p-0 h1 font-weight-bold text-primary text-capitalize mb-1">
                        <div class="p-1 fa-solid fa-plus fa-l"></div>
                    </div>
                </div>
                <div class="col-auto h6 align-items-center justify-content-start p-1 m-0">
                    <div class="ml-1 text-md-left m-0 p-0 font-weight-bold align-self-center text-gray-600">
                        Add a day to your plans
                    </div>
                </div>
            </div>
        </button>
    </form>
</div>
{% endblock %}